<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="employee" class="com.kk.spring.springbasicexample.model.Employee" init-method="myInit" destroy-method="myDestroy">
		<property name="empid" value="101"></property>
		<property name="empName" value="Kalanghiya Kumar"></property>
		<property name="salary" value="50000"></property>
	</bean>
	
	<bean id="customer1" class="com.kk.spring.springbasicexample.model.Customer" >
		<property name="cusId" value="201"></property>
		<property name="name" value="K Kumar"></property>
		<property name="address" ref="address"></property>
		<!-- <constructor-arg ref="address"></constructor-arg> -->
	</bean>
	
	<bean id="address" class="com.kk.spring.springbasicexample.model.Address">
		<property name="streetName" value="Vallal Perumal Street"></property>
		<property name="city" value="Chennai"></property>
		<property name="pincode" value="623523"></property>
	</bean>
</beans>